body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #1a0033, #000814);
  color: white;
}

/* HEADER */
.header {
  text-align: center;
  padding: 25px;
  background: rgba(10, 10, 30, 0.8);
  border-bottom: 2px solid #7b2cff;
}

.header h1 {
  font-size: 2.2rem;
  color: #b026ff;
  text-shadow: 0 0 10px #7b2cff;
}

/* HERO */
.hero {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(135deg, #6a00ff, #00d4ff);
  box-shadow: 0 0 30px rgba(0, 212, 255, 0.4);
}

.hero h2 {
  font-size: 2rem;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  background: black;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.hero button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00d4ff;
}

/* LEAKS */
.leaks {
  padding: 30px;
}

.leaks h2 {
  text-align: center;
  color: #00d4ff;
  text-shadow: 0 0 10px #00d4ff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: rgba(20, 20, 40, 0.9);
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #7b2cff;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #7b2cff;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  background: rgba(10, 10, 30, 0.8);
  border-top: 2px solid #7b2cff;
}